.profile {
  color: #fff;
  height: 100vh;
  margin: 0 2rem;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    padding: 2rem;
  }
  &__picture {
    height: 10rem;
    border-radius: 2px;
  }
  &__body {
    display: flex;
    width: 55%;
    &__info {
      flex: 1;
      padding-left: 1.6rem;
      .user {
        font-size: 2.6rem;
        background-color: rgba(#fff, 0.2);
        padding: 0.7rem 1.6rem;
        border-radius: 2px;
        min-height: 3rem;
      }
      .current-plan {
        padding-top: 1.8rem;
        h3 {
          font-size: 1.8rem;
        }
        span {
          font-size: 1.2rem;
        }
        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          margin-top: 1.8rem;
          background-color: rgba(#fff, 0.1);
          box-shadow: 2px 3px 5px rgba(#fff, 0.2);
        }
      }

      .sign-out {
        // margin-top: 1rem;
        border-radius: 2px;
        width: 100%;
      }
    }
  }
}
